<html>
  <head>
    <title>Digital Certificate Management</title>
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
  </head>
  <body bgcolor=white>
    <HEADER class="w3-container w3-teal">
       <center><h3>Digital Certificate Management</h3></center>
</HEADER>


<div class="w3-container">
   <center>
  <h2>Select from following</h2>

  <ul class="w3-ul w3-card" style="width:50%">
    <li><a href="/v1/addcustomer">Add customer</a></li>
      <li><a href="/v1/deletecustomer">Delete Customer</a></li>
      <li><a href="/v1/addcertificate">Add Certificate</a></li>
      <li><a href="/v1/updateCertificate">Update Certificate</a></li>
      <li><a href="/v1/listCertificates">List Certificate</a></li>
  </ul>
  </center>
  <br>


</div>
  </body>
</html>